<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TL7SYVLV3M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TL7SYVLV3M');
</script>
{% if page.url == "/404.html" %}<meta http-equiv="refresh" content="5; url={{ site.baseurl }}/journal" />{% endif %}
</head>

<body>

    {% include nav.html %}

    {{ content }}

    {% include search.html %}

  {% include footer.html %}　

   {% include Scroll_to_Top.html %}  

</body>

</html>
